/* **** globals **** */

:root {
  --box-shadow: #00000056;
  --font-descrip: #f8f8f8;
  --font-1: #515151;
  --font-active: #f07f7e;
  --font-schedule: #ff5438;
  --program-bg: #3b3e45c2;
  --btn-more: #ff4f38;
  --bg-sponsor: #414246;
  --font-3: #344563;
  --font-sponsor: #8f8f91;
  --font-speaker-pos: #f78c89;
  --font-contact-des: #ebebff;
  --font-form-label: #7d7c84;
  --bckgrd: #fff;
  --bckgrd-0: #fff0;
  --btn-color: #396df2;
  --btn-active: #2230d2;
  --border: #dfe1e6;
  --body-bg: #eeecec;
  --connect: #7f8cff;
  --letter-bb: #fff;
  --bg-contact: #5263ff;
  --bg-menu: #000000e3;
  --bg-modal: #c1c7d0be;
  --font-error: #f00;
  --form-valid: #0f0;
  --font-heading1: #ff3c23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-active .modal-bg {
  filter: blur(5px);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  --top-nav: clamp(63px, (100vw - 440px) * 1000, min(9.8vw, 75px));
  --top-header: clamp(var(--top-nav), (100vw - 768px) * 1000, calc(var(--top-nav) + 30px));

  font-family: 'Lato', sans-serif;
  display: flex;
  flex-flow: column;
  background-color: var(--body-bg);
  margin-block-start: var(--top-header);
}

/* **** Header **** */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--top-header);
  background-color: var(--bckgrd);
  z-index: 3;
  box-shadow: 4px 4px 4px var(--box-shadow);
}

.social-media {
  display: none;
}

.nav-header {
  --padding-nav: clamp(max(23px, 6.2vw), (100vw - 768px) * 1000, min(205px, 14.2vw));

  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--padding-nav);
  height: var(--top-nav);
  position: relative;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: clamp(calc(var(--top-nav) - 20px), (100vw - 440px) * 1000, calc(var(--top-nav) - 40px));
  width: calc((var(--top-nav) - 20px) * 18 / 7);
}

.logo:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease-in-out;
}

.menu li .active {
  color: var(--font-active);
}

.square {
  border: 5px solid #ec4327;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 15px;
}

.nav-menu {
  position: absolute;
  left: var(--padding-nav);
}

.menu a {
  font-size: 14px;
}

#menu_toggle,
.menu {
  display: none;
}

#close_menu {
  font-size: 3.5rem;
}

.menu li:hover {
  transform: scale(1.1);
  color: var(--font-1);
  text-shadow: 0.5px 0.5px var(--font-1);
  transition-property: transform, color, text-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.menu_hamburger img {
  width: 31px;
  height: 27px;
  display: block;
}

.modal-active .menu_hamburger {
  display: none;
}

.selected {
  border-bottom: var(--font-3) 2px solid;
  transition: border-bottom 0.2s;
}

.menu_popup.menu {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  position: fixed;
  padding: max(28px, 7.5%);
  width: 100%;
  height: 100%;
  max-width: 768px;
  background: var(--bckgrd-0);
  opacity: 0%;
  z-index: -3;
  font-size: 0;
  font-weight: 600;
  color: var(--bckgrd);
  gap: 20px;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.menu_popup.menu.out {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
    font-size: 0;
    z-index: -3;
    background: var(--bckgrd-0);
  }

  100% {
    opacity: 85%;
    font-size: max(32px, 1.5vw);
    z-index: 20;
    background: var(--bg-menu);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 85%;
    font-size: max(32px, 1.5vw);
    z-index: 20;
    background: var(--bg-menu);
  }

  100% {
    opacity: 0%;
    font-size: 0;
    z-index: -3;
    background: var(--bckgrd-0);
  }
}

.menu_popup a {
  font-size: max(26px, 1.25vw);
  font-weight: 600;
  color: var(--bckgrd);
}

.menu_popup #close_menu {
  align-self: flex-end;
}

/**** intro **** */

.section-light {
  color: var(--font-1);
  background-color: var(--font-descrip);
}

.section-light div {
  padding-inline: clamp(6.5px, (100vw - 450px) * 1000, 10px);
}

.intro {
  background-image: url('../../images/hero-bg-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 97px 69px;
}

.section-dark {
  background-image: url('../../images/pattern-bg.png');
  background-repeat: repeat;
  background-color: #000;
  color: var(--letter-bb);
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.intro .section-title {
  color: var(--font-heading1);
  font-weight: bold;
  font-size: clamp(32px, (100vw - 450px) * 1000, 42px);
  text-shadow: 0 5px 10px var(--font-form-label);
  font-family: 'COCOGOOSE', sans-serif;
  margin-top: 10px;
}

.intro .subtitle {
  color: var(--font-heading1);
  font-size: clamp(20px, (100vw - 450px) * 1000, 24px);
  display: inline-block;
}

.intro .description {
  font-size: clamp(12px, (100vw - 450px) * 1000, 12.5px);
  line-height: 145%;
  padding: 14px;
  border: 4px solid var(--bckgrd);
  background-color: var(--font-descrip);
  color: var(--font-1);
  margin-block: 20px;
  max-width: 760px;
}

.date-schedule-container {
  max-width: 760px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 10px;
}

#slider-wrapper {
  margin: auto;
  height: 400px;
  position: relative;
  overflow: hidden;
  flex-grow: 10;
  flex-basis: 1000px;
  display: flex;
  align-items: center;
}

#slider-wrapper ul {
  width: 5000px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 300ms ease-in-out;
}

#slider-wrapper ul li {
  height: 400px;
  width: 1000px;
  position: relative;
  float: left;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: clamp(5px, (100vw - 300px) * 1000, clamp(12.5px, (100vw - 450px) * 1000, 20px));
  overflow: auto;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.content h3 {
  font-size: clamp(20px, (100vw - 450px) * 1000, 21px);
  font-family: 'COCOGOOSE', sans-serif;
}

.content p {
  font-size: clamp(13px, (100vw - 450px) * 1000, 13.5px);
}

/* **** Main Activities **** */

.activities {
  padding-block: max(30.5px, 4.2vh);
  padding-inline: max(10px, 2.7vw);
}

.activities .activiy-ctn {
  display: flex;
  flex-flow: column;
  padding-inline: max(10px, 2.7vw);
  gap: max(3px, 0.5vh);
  margin-top: 30px;
}

.activities .activiy {
  display: grid;
  grid-template-columns: 1fr 1.14fr 3.375fr;
  gap: 12px;
  align-items: center;
  max-width: 355px;
  min-height: 83px;
  background-color: var(--program-bg);
  padding-inline: max(8px, 2.3vw);
  padding-block: max(15.16px, 2.1vh);
}

.activities .activity-title {
  font-size: clamp(12px, (100vw - 375px) * 1000, 14.5px);
  line-height: 175%;
  color: var(--font-schedule);
  font-weight: 700;
  display: inline-block;
}

.activities .activity-descrip {
  font-size: clamp(9.5px, (100vw - 375px) * 1000, 11px);
}

.Join-more {
  padding-block: 20px;
  padding-inline: 50px;
  background-color: var(--btn-more);
  color: var(--bckgrd);
  font-weight: 900;
  font-size: clamp(14px, (100vw - 375px) * 1000, 16px);
  line-height: 175%;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

/* **** Speakers **** */

.speakers {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 17px;
  padding-inline: 0;
  padding-block: max(2vh, 14.49px);
}

.speakers-ctn {
  display: grid;
  grid-template-columns: 1fr;
  padding-inline: 12.54px;
  justify-items: center;
  width: clamp(90vw, (500px - 100vw) * 1000, 98vw);
  max-width: clamp(500px, (500px - 100vw) * 1000, 367px);
  column-gap: 25px;
  row-gap: 22px;
  margin-top: 30px;
}

.speaker {
  display: flex;
  gap: min(3.8vw, 22.5px);
  font-weight: 700;
}

.speaker .work-image {
  width: 28.5vw;
  max-width: 107px;
}

.speaker-right {
  display: flex;
  flex-flow: column;
  gap: 6.4px;
}

.speaker-name {
  font-size: 15px;
}

.speaker-pos {
  color: var(--font-speaker-pos);
  font-size: 10px;
  line-height: 150%;
}

.speaker-descrip {
  font-size: 9px;
  line-height: 156%;
}

.btn-more {
  height: 38px;
  border: 1px solid #dcdcdc;
  width: clamp(90vw, (500px - 100vw) * 1000, 98vw);
  max-width: clamp(500px, (500px - 100vw) * 1000, 356px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--font-descrip);
  font-weight: 700;
  font-size: 11px;
  line-height: 255%;
}

/* **** Sponsors **** */

.sponsors {
  background-color: var(--bg-sponsor);
  background-image: none;
  color: var(--font-sponsor);
  padding-block: 35px;
}

.sponsors .activiy-ctn {
  display: flex;
  gap: clamp(10px, (100vw - 375px) * 1000, clamp(15px, (100vw - 500px) * 1000, 25px));
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.sponsors .activiy {
  display: inline;
  background-color: transparent;
  opacity: 0.8;
}

.sponsors .activiy img {
  height: clamp(80px, (100vw - 375px) * 1000, 100px);
  max-width: 200px;
  filter: grayscale(0.5);
}

#prev img {
  transform: rotate(180deg);
}

footer {
  display: flex;
  gap: 10%;
  padding-block: 30px;
  font-size: 10px;
  justify-content: center;
  padding-inline: min(7vw, 30px);
}

@media only screen and (min-width: 768px) {
  /* **** Header section **** */

  .social-media {
    display: flex;
    height: 30px;
    background-color: #3e3e3e;
    padding-inline: 13.2vw;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
  }

  .social-media img {
    height: 18px;
    width: auto;
  }

  .social-media a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }

  .nav-header {
    position: static;
    justify-content: space-between;
  }

  .nav-menu {
    position: static;
  }

  .menu {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    gap: clamp(0.65vw, (100vw - 900px) * 1000, 32px);
  }

  .menu a {
    color: var(--font-3);
  }

  .menu_hamburger {
    display: none;
  }

  #close_menu {
    display: none;
  }

  .menu li:hover {
    transform: scale(1.3);
    color: var(--font-1);
    text-shadow: 0.5px 0.5px var(--font-1);
    transition-property: transform, color, text-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .square {
    width: 123px;
    height: 48px;
    padding-inline: 0;
  }

  /**** intro **** */

  .intro {
    background-image: url('../../images/hero-bg-desktop.png');
    background-size: contain;
    padding-block: 6vh 12vh;
  }

  .activities {
    padding-block: 75px;
    padding-inline: 14.9vw;
    gap: 30px;
  }

  .section-light > div {
    max-width: 760px;
    margin-inline: auto;
  }

  .intro .section-title {
    font-size: 52px;
  }

  .intro .subtitle {
    font-size: 32px;
  }

  .intro .description {
    font-size: clamp(20px, (100vw - 1440px) * 1000, clamp(26px, (100vw - 1920px) * 1000, 30px));
    line-height: 145%;
    padding: 14px;
    border: 8.5px solid var(--bckgrd);
    background-color: var(--font-descrip);
    color: var(--font-1);
    margin-block: 20px;
    max-width: 760px;
  }

  .content h3 {
    font-size: clamp(34px, (100vw - 1440px) * 1000, clamp(38px, (100vw - 1920px) * 1000, 42px));
  }

  .content p {
    font-size: clamp(23px, (100vw - 1440px) * 1000, clamp(25px, (100vw - 1920px) * 1000, 27px));
  }

  .activities .activiy-ctn {
    display: flex;
    flex-flow: row;
    justify-content: center;
    max-width: 1300px;
    gap: max(3px, 0.5vh);
    margin-top: 30px;
  }

  .activities .activiy {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: clamp(clamp(145px, (100vw - 900px) * 1000, 170px), (100vw - 1050px) * 1150, clamp(180px, (100vw - 1250px) * 1000, 200px));
    min-height: 83px;
    background-color: var(--program-bg);
    padding-inline: 11px;
    padding-block: max(15.16px, 2.1vh);
  }

  .activities .activity-title {
    font-size: clamp(24px, (100vw - 1440px) * 1000, 27px);
  }

  .activities .activity-descrip {
    font-size: clamp(12px, (100vw - 1440px) * 1000, 14px);
    text-align: center;
  }

  /* **** Speakers **** */

  #speakers {
    padding-block: 74px;
  }

  .speakers {
    gap: 20px;
    padding-block: 10px max(7vh, 74px);
  }

  .speakers-ctn {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100%/(4) + 0.1%, (1920px - 100vw) * 1000, clamp(100%/(3) + 0.1%, (1000px - 100vw) * 1000, 100%)), 1fr));
    justify-items: center;
    width: 71.5vw;
    max-width: clamp(1600px, (1050px - 100vw) * 1000, 100%);
    column-gap: 27.5px;
    row-gap: 42px;
  }

  .speaker {
    max-width: 503px;
  }

  .speaker .work-image {
    width: 12.4vw;
    max-width: 178px;
  }

  .speaker-right {
    display: flex;
    flex-flow: column;
    gap: 9px;
  }

  .speaker-name {
    font-size: 24px;
    line-height: 115%;
  }

  .speaker-pos {
    color: var(--font-speaker-pos);
    font-size: 15px;
    line-height: 140%;
  }

  .speaker-descrip {
    font-size: 14px;
    line-height: 170%;
  }

  .sponsors {
    gap: 20px;
  }

  .sponsors .activiy-ctn {
    max-width: 1000px;
    flex-flow: row;
    gap: clamp(clamp(20px, (100vw - 850px) * 1000, 25px), (100vw - 1000px) * 1000, 40px);
  }

  .Join-more {
    padding-block: 0;
    padding-inline: 0;
    background-color: transparent;
    color: var(--bckgrd);
    text-decoration: underline;
    font-weight: 400;
    font-size: clamp(20px, (100vw - 1440px) * 1000, 24px);
    line-height: 150%;
    border: none;
  }

  .btn-more {
    display: none;
  }

  footer {
    padding-block: clamp(40px, (100vw - 1440px) * 1000, 60px);
    font-size: clamp(12px, (100vw - 1440px) * 1000, 14px);
    justify-content: center;
    align-items: center;
    padding-inline: min(15vw, 221px);
  }

  footer .logo img {
    height: clamp(80px, (100vw - 1440px) * 1000, 100px);
    width: 100%;
  }

  .sponsors .activiy img {
    height: clamp(clamp(80px, (100vw - 850px) * 1000, 100px), (100vw - 1000px) * 1000, 120px);
  }
}
